.cube-scroll-list-wrapper
  .cube-tab-bar
    flex-wrap wrap
    .cube-tab
      width 100%
      flex-basis unset
      height 40px
      line-height 40px
      font-size 14px
      color #db8931
      transition all 0.3s ease-in
      &.cube-tab_active
        color #fff
        font-size 16px
        background-color #a74b00
.left-panel
  position absolute
  top 44px
  left 0
  bottom 0
  width 80px
  background-color #2d2d2d
.right-panel
  position absolute
  top 44px
  left 80px
  right 0
  bottom 0
  background-color #171819
  li
    height 80px
    display flex
    align-items center
    background-color #171819
    img
      width 102px
      margin 0 10px 0 20px
      border 1px solid #ff9f38
      border-radius 3px
      box-shadow 0 1px 5px 0 #000
    span
      color #db8931